.pagination-wrapper {

    overflow-x: auto;

    .pagination {
        justify-content: center;
        margin-bottom:40px;
    }

}

// let pagination center
// https://codepen.io/joedazza/pen/BVXVej
