.profile-image {
  display: block;
  position: relative;
}

.profile-image {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
}

.author-social-links {
  text-align: center;
  ul {
    display: inline-flex;

    li {
      margin: auto 20px;

      a {
        transition: all 0.1s ease-out;
        color: $text-link;

        &.github:hover {
          color: gray;
        }
        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(71, 89, 99);
        }
      }
    }
  }
}


.recent-posts-container {
  height: 100%;
  border-radius: 10px;
  
  transition: all 0.1s ease-in;
  &:hover {
    background-color: rgb(245, 244, 244);
  }

  figure {
    margin: 0.2rem;
    height: 100%;
  }

  Img {
    
    border-radius: 5px;
  }

  .recent-posts-date {
    font-size: 12px;
    color: $text-light;
  }

  .recent-posts-title {
    font-size: 15px;
    color: $menu-title;
  }
}


@media screen and (max-width: 1050px) {
  .recent-posts-container {

    Img {
      max-width: 60px;
      max-height: 60px;

    }
    .recent-posts-date {

      font-size: 12px;

    }
  
    .recent-posts-title {

      font-size: 12px;
    }
  }
}
